@model Task_Announcement.Models.Announce
@{
    ViewBag.Title = "Delete";
}


    <form id="form" asp-controller="Home" asp-action="Delete" method="post">
        <input type="text" value="@Html.DisplayFor(model => model.Title)" class="textbox" autocomplete="on" disabled />
        <textarea disabled type="text" class="message">@Html.DisplayFor(model => model.Description)</textarea>
        <input type="text" value="@Html.DisplayFor(model => model.data)" class="textbox" autocomplete="on" disabled/>
        <input type="submit" class="button" value="Delete" />

    </form>