@model Task_Announcement.Models.Announce
@{
    ViewBag.Title = "Edit announcement";
}
    <form id="form" asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
            <input type="text" asp-for="Title" class="textbox" />
            <textarea type="text" asp-for="Description" class="message"></textarea>
            <input type="text" asp-for="data" class="textbox" value="@DateTime.Today.ToString("d")" autocomplete="on" />
            <input type="submit" value="Сохранить" class="button" />
        </div>
    </form>