@model IEnumerable<Task_Announcement.Models.Announce>

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="announcement">Announcement</h1>
<div class="text-center">
    @foreach (var announce in Model)
    {
        <h1>@announce.Title</h1>
        <p>@announce.Description</p>
        <p>@announce.data</p>
    }
</div>
