<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="announcement">Announcement</h1>
    <div class="block_create"><a asp-action="Create" asp-controller="Home">Add new announcement</a></div>
    <div>
            @RenderBody()
    </div>
   
</body>
</html>
